

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    
}
.searchbox{
    font-size: 3rem;
    color: #000000;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
    
}
.text-left{
    text-align: left;
}
.text-white{
    color: rgb(5, 3, 139);
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #092df8;
    text-decoration: none;
}
a:hover{
    color: #072cff83;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #0019fd6e;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #477effa1;
}
h2{
    color: #0019fd;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid rgba(228, 26, 144, 0.109);
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
    
}
.menu{
    line-height: 60px;
    font-size: 2rem;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.navbar2{
    background-color: #0076fd55;

}
.navbar3{
    background-color: #04ffea3d;
}

/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-image:url(/images/bg1.jpg);
    background-position:center;
    background-size:cover;
    
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 1%;
    float: left;
    background-color: rgba(0, 251, 29, 0.505);
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color:rgb(0, 0, 0);
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/*css for about*/
.about{
    background-color: #1100ff42;
}
.box{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1%;
    display: flex;
    background-color: rgba(1, 253, 253, 0.301);
   
}
.imgbx{
    height: auto;
    width: fit-content;

}
.content{
    font-size: 1rem;
    position: relative;
    text-align: center;
    background-color: #474aff4f;
    color: #0019fd;
    line-height: 60px;
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
.gap{
    
    margin-top: 8rem;
    
    margin-bottom: 8rem;
    
    align-content: center;
    display: block;
    color: #092df8d0;
    background-color: #092df83d;
    text-align: center;
    /*padding: 80%;*/
}
